// Custom fonts
//Index:
// - Univers
//   - Regular
//   - halfbold
//   - bold


// @font-face {
//   font-family: 'Roboto';
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'Roboto';
//   font-weight: 500;
// }

// @font-face {
//     font-family: 'Cerebri Sans Pro Bold';
//     src: url('../fonts/cerebrisanspro-bold-webfont.eot');
//     src: url('../fonts/cerebrisanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/cerebrisanspro-bold-webfont.woff2') format('woff2'),
//          url('../fonts/cerebrisanspro-bold-webfont.woff') format('woff'),
//          url('../fonts/cerebrisanspro-bold-webfont.ttf') format('truetype'),
//          url('../fonts/cerebrisanspro-bold-webfont.svg#cerebri_sans_pro_boldbold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
  
//   @font-face {
//     font-family: 'Cerebri Sans Pro Regular';
//     src: url('../fonts/cerebrisanspro-regular-webfont.eot');
//     src: url('../fonts/cerebrisanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/cerebrisanspro-regular-webfont.woff2') format('woff2'),
//          url('../fonts/cerebrisanspro-regular-webfont.woff') format('woff'),
//          url('../fonts/cerebrisanspro-regular-webfont.ttf') format('truetype'),
//          url('../fonts/cerebrisanspro-regular-webfont.svg#cerebri_sans_proregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
