@use '../abstracts' as *;

// Typography

* {
    box-sizing: border-box;
}

html,
body {
    font-family: $font-sans-serif;
    font-size: 16px;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    color: $text-color;
}

strong {
    font-weight: $font-weight-medium;
}

i,
em {
    font-style: italic;
    color: inherit;
}

// Headers

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: calc($vertical-gutter/2);

    small {
        font-weight: normal;
    }
}

h1,
.h1 {
    font-family: $font-h1;
    font-size: $font-h1-size-sm;
    font-weight: $font-h1-weight;
    line-height: $header-line-height;

    &.page-title {
        margin-top: 0;
    }

    @media #{$break-large} {
        font-size: $font-h1-size;
    }
}

h2,
.h2 {
    font-family: $font-h2;
    font-size: $font-h2-size-sm;
    font-weight: $font-h2-weight;
    line-height: $header-line-height;

    @media #{$break-large} {
        font-size: $font-h2-size;
    }
}

h3,
.h3 {
    font-family: $font-h3;
    font-size: $font-h3-size-sm;
    font-weight: $font-h3-weight;
    line-height: $header-line-height;

    @media #{$break-large} {
        font-size: $font-h3-size;
    }
}

h4,
.h4 {
    font-family: $font-h4;
    font-size: $font-h4-size-sm;
    font-weight: $font-h4-weight;
    line-height: $header-line-height;

    @media #{$break-large} {
        font-size: $font-h4-size;
    }
}

h5,
.h5 {
    font-family: $font-h5;
    font-size: $font-h5-size-sm;
    font-weight: $font-h5-weight;
    line-height: $header-line-height;

    @media #{$break-large} {
        font-size: $font-h5-size;
    }
}

h6,
.h6 {
    font-family: $font-h6;
    font-size: $font-h6-size-sm;
    font-weight: $font-h6-weight;
    line-height: $header-line-height;

    @media #{$break-large} {
        font-size: $font-h6-size;
    }
}

p, li, a {
    .layout-container & {
        @extend .mb-1;
        margin-top: 0;
        font-size: $font-size-medium;
        line-height: $line-height;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Lists
ul, ol {
    .layout-container & {
        li {
            list-style-type: none;
        }
    }
}
body:not(.layout-builder) {
    .layout {
    ul {

        padding-left: 0;
        li {
            position: relative;
            margin: 0 0 .25rem 1.5625rem;

            &::before {
                content: '';
                position: absolute;
                top: 11px;
                left: -25px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $text-color;
            }
        }
    }
    }

    ol {
        padding-left: 0;
        counter-reset: atom-counter;

        li {
            position: relative;
            margin: 0 0 .25rem 0;
            padding-left: 1.75rem;
            counter-increment: atom-counter;

            &::before {
                content: counter(atom-counter);
                position: absolute;
                left: 0;
                color: $text-color;
                font-family: $font-sans-serif;
            }
        }
    }
}

// navigation links
a {
    color: $brand-primary;
    border-bottom: none;

    &:hover,
    &:focus {
        color: $brand-primary;
        text-decoration: underline;
        border-bottom-style: none;
    }
}

.page-title {
    font-size: $font-h1-size;
}
