@use '../../abstracts' as *;
@use '../../components' as *;

.layout-container {
    @include container;
}

.button {
  @include button;
}

.main {
    @media #{$break-large} {
        display: flex;

        .layout-sidebar {
            margin-right: 1.25rem;
            width: 30%;
        }

        .layout-content {
            width: 70%;
        }
    }

    @media #{$break-xlarge} {
        .layout-sidebar {
            width: 514px;
        }

        .layout-content {
            width: 70%;
        }
    }

}

