@use '../abstracts' as *;

// btn variation mixin
@mixin button($btn-style: "") {
  display: inline-block;
  padding: $btn-padding;
  min-width: $btn-min-width;
  font: $btn-font;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-decoration: none;
  border: $btn-border;
  border-radius: $btn-br;
  color: $btn-color;
  background: $btn-bg-color;
  white-space: nowrap;
  text-transform: normal;
  text-align: center;

  &:hover,
  &:focus {
    background: $brand-secondary;
    color: $white;
  }

  // style
  @if $btn-style == secondary {
    padding: $btn-padding-sm;
    border: 2px solid $brand-secondary-dark;
    background: $white;
    color: $brand-secondary-dark;

    &:hover {
      border: $form-border;
      background: $brand-primary;
      color: $white;
    }
  }

  // link fix
  > a {
    display: block;
    color: inherit;
    text-decoration: inherit;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: inherit;
    }
  }
}

// Buttons
.button,
.btn {
  @include button();

  &--secondary {
    @include button(secondary);
  }
}
