@use '../abstracts' as *;

// Global form styling

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
  color: $brand-secondary;
  opacity: 1; /* Firefox */
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: $brand-secondary;
}
/* Microsoft Edge */
::-ms-input-placeholder {
  color: $brand-secondary;
}

// Required
.form-required {
  &::after {
    content: "*";
    position: relative;
    top: -.4rem;
    margin-left: .3rem;
    font-size: 1.1rem;
    line-height: inherit;
    vertical-align: unset;
    color: $color-error;
    background: none;
  }
}

// Titles / Labels
label {
  @extend .mb-1;
  display: block;
  font-size: $font-size;
  color: $text-color;

  &:focus,
  span:focus {
    outline: 0;
  }
}

// Elements
input:not([type="submit"]),
select {
  margin-bottom: 1rem;
  padding: $form-padding;
  font-size: $font-size;
  color: inherit;
  border: $form-border;
  border-radius: $border-radius;
  background-color: $white;

  &::after {
    display: none;
  }

  &:focus	{
    outline: 1px solid transparent;
    border: 1px solid $brand-primary;
    border-radius: $border-radius;
  }
}

input {
  max-width: 100%;
}

textarea {
  margin: 0 0 1rem;
  padding: 1.8rem 1.6rem;
  color: $brand-primary;
  border: 1px solid $lighter-grey;
  background: $white;

  &:focus {
    outline: 2px solid $brand-primary;
    border: 1px solid transparent;
  }
}

select {
  padding-right: 2.5rem;
  background: url("../../assets/chevron-down.svg") no-repeat center right .8rem $white;
  background-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand {
    display: none;
  }
}


body:not(.layout-builder) {
  details {
    line-height: 1em;
    padding: 1.8rem 3.6rem 1.8rem 1.6rem;
    text-indent: 1px;
    text-overflow: "";
    border: $form-border;
    font-size: 1.8rem;
    color: $brand-primary;
    background: $white;
  }

  // Custom Radio & Check buttons
  [type="checkbox"],
  [type="radio"] {
    padding: 0;

    &:checked,
    &:not(:checked) {
      position: absolute;
      left: -9999px;

      & + label {
        position: relative;
        display: inline-block;
        padding-left: 2rem;
        cursor: pointer;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0rem;
          left: 0rem;
        }

        &::before {
          width: $radio-btn-size;
          height: $radio-btn-size;
          border: $form-border;
          background: $white;
        }

        &::after {
          border-radius: $border-radius;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
      }
    }

    &:not(:checked) {
      + label {
        &::after {
          -webkit-transform: scale(0);
          transform: scale(0);
          opacity: 0;
        }
      }
    }

    &:checked {
      + label {
        &::before {
          border: 1px solid $brand-primary;
        }

        &::after {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  [type="checkbox"] {
    &:checked,
    &:not(:checked) {
      & + label {
        &::after {
          content: "\f00c";
          top: .15rem;
          left: .25rem;
          font-family: 'FontAwesome';
          font-size: 1rem;
          color: $brand-primary;
        }
      }
    }
  }

  [type="radio"] {
    &:checked,
    &:not(:checked) {
      & + label {
        &::before,
        &::after {
          border-radius: 50%;
        }

        &::after {
          content: "";
          top: .1875rem;
          left: .1875rem;
          width: 1.125rem;
          height: 1.125rem;
          background: $brand-primary;
        }
      }
    }
  }
}

// Fieldsets
fieldset {
  padding: 0;
  border: 0;
  background: none;

  &,
  &.form-item,
  &.form-actions {
    margin: 0 0 calc($vertical-gutter/2);

    fieldset {
      margin: 0;
    }

    legend {
      margin: 0 0 .3125rem 0;
      padding: 0;
      color: $brand-secondary;
      font-size: $font-size;
    }

    .fieldset-legend {
      display: block;
      margin: 0;

      &:empty {
        display: none;
      }
    }
  }
}
