@use '../abstracts' as *;

// Images

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Figcaption

figcaption {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 3px solid $brand-primary;
  font-size: $font-size-small;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.2;
  text-align: left;
  color: $text-color;
}
