%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Clearfix Mixin
@mixin clearfix() {
  &:before,
  &:after {
    display: table;
    content: " ";
  }

  &:after {
    clear: both;
  }
}
