// Transforms

@mixin transform($values) {
  -webkit-transform: $values;
  -moz-transform: $values;
  -ms-transform: $values;
  -o-transform: $values;
  transform: $values;
}

// Transition

@mixin transition($values) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -ms-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin transition-property($values) {
  -webkit-transition-property: $values;
  -moz-transition-property: $values;
  -ms-transition-property: $values;
  -o-transition-property: $values;
  transition-property: $values;
}

// Visually Hidden
@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

//Vertically Align Center
@mixin valign_center {
  @include flex-wrap(wrap);
  @include align-items(center);
}
