@use 'variables' as *;
@use 'clearfix' as *;

@mixin container($size: "") {
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-sm) {
    width: $container-sm;
  }

  @media (min-width: $screen-md) {
    width: $container-md;
  }

  @if $size == small {
    @media (min-width: $screen-lg) {
      max-width: $container-md;
    }

    @media (min-width: $screen-xl) {
      max-width: $screen-lg;
    }

  } @else {

    @media (min-width: $screen-lg) {
      width: $container-lg;
    }

    @media (min-width: $screen-xl) {
      margin: 0 auto;
      width: $container-xl;
    }
  }

  @include clearfix;
}
