// Sizings

@mixin box-sizing($values) {
  -webkit-box-sizing: $values;
  -moz-box-sizing: $values;
  box-sizing: $values;
}

// Margin
@for $i from 0 through 6 {
  .m-#{$i} {
    margin: #{$i}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i}rem;
  }

  .mr-#{$i} {
    margin-right: #{$i}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
}

// Padding
@for $i from 0 through 6 {
  .p-#{$i} {
    padding: #{$i}rem;
  }

  .pt-#{$i} {
    padding-top: #{$i}rem;
  }

  .pr-#{$i} {
    padding-right: #{$i}rem;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}rem;
  }

  .pl-#{$i} {
    padding-left: #{$i}rem;
  }
}
