@use "functions" as color;

// ---------
// Variables
// ---------


// ----
// Grid
// ----

$grid-columns:        12;

$gutter:              30px;
$gutter-width:        $gutter;
$gutter-height:       30px;

$box_padding:         20px;


// ------------
// Screen sizes
// ------------

$screen-xs:           375px;
$screen-sm:           480px;
$screen-md:           768px;
$screen-lg:           992px;
$screen-xl:           1420px;

$container-sm:        $screen-sm - ($gutter-width*2);
$container-md:        $screen-md - ($gutter-width*2);
$container-lg:        $screen-lg - ($gutter-width*2);
$container-xl:        $screen-xl - ($gutter-width*2);

$screen-xs-max:       ($screen-sm - 1);
$screen-sm-max:       ($screen-md - 1);
$screen-md-max:       ($screen-lg - 1);

// Breakpoints

$break-mini: "only screen and (max-width : 374px)";
$break-small: "only screen and (min-width : 375px)";
$break-medium: "only screen and (min-width : 768px)";
$break-large: "only screen and (min-width : 992px)";
$break-xlarge: "only screen and (min-width : 1420px)";


// ------
// Colors
// ------

$brand-primary:     #007BC1;
$brand-secondary:   #cf5120 !default;

// Variations
$brand-secondary-dark:        color.shade($brand-primary, 50%) !default;
$brand-secondary-light:       color.tint($brand-primary, 90%) !default;

$white:             #FFFFFF !default;
$lighter-grey:      #E8E9EB !default;
$light-grey:        #F4F4F4 !default;
$medium-grey:       #D8D8D8 !default;
$dark-grey:         #4A4A4A !default;
$black:             #222222 !default;

$text-color:        #4c4c4c;
$background-color:  #F5F5F5;

$color-error:       red !default;
$color-warning:     orange !default;
$color-success:     green !default;
$color-info:        lightblue !default;

// -----
// Fonts
// -----

$font-sans-serif:     'Open Sans', sans-serif !default;
$font-size:           .9375rem;
$font-size-small:     .875rem; // 14px
$font-size-medium:    1.125rem; // 18px
$font-size-large:     1.25rem; //20px
$line-height:         1.55;

$header-line-height:  1.17;

$font-weight-light:     300 !default;
$font-weight-regular:   400 !default;
$font-weight-medium:    500 !default;
$font-weight-semibold:  600 !default;
$font-weight-bold:      700 !default;

$font-h1:             $font-sans-serif !default;
$font-h2:             $font-sans-serif !default;
$font-h3:             $font-sans-serif !default;
$font-h4:             $font-sans-serif !default;
$font-h5:             $font-sans-serif !default;
$font-h6:             $font-sans-serif !default;

$font-h1-size:        1.875rem !default; // 30px
$font-h2-size:        1.5rem !default; // 24px
$font-h3-size:        1.25rem !default; // 20px
$font-h4-size:        1.125rem !default; // 18px
$font-h5-size:        1rem !default; // 16px
$font-h6-size:        .9375rem !default; // 15px

$font-h1-size-sm:     3.4rem !default;
$font-h2-size-sm:     2.2rem !default;
$font-h3-size-sm:     1.8rem !default;
$font-h4-size-sm:     $font-h4-size !default;
$font-h5-size-sm:     $font-h5-size !default;
$font-h6-size-sm:     $font-h6-size !default;

$font-h1-weight:      $font-weight-bold !default;
$font-h2-weight:      $font-weight-bold !default;
$font-h3-weight:      $font-weight-bold !default;
$font-h4-weight:      $font-weight-bold !default;
$font-h5-weight:      $font-weight-bold !default;
$font-h6-weight:      $font-weight-bold !default;

// --------
// Defaults
// --------

$border-color:        $text-color;
$border:              1px solid $border-color;
$border-radius:       .25rem;

$vertical-gutter:     3rem !default;
$horizontal-gutter:   3rem !default;

$border-soft:         1px solid $lighter-grey;

// -------
// Shadows
// -------

$box-shadow:          0 0 8px rgba(0, 0, 0, 0.2) !default;


// -------
// Buttons
// -------

$btn-color:           #fff !default;
$btn-color-hover:     #fff !default;
$btn-bg-color:        $brand-primary !default;
$btn-bg-color-hover:  $brand-primary !default;

$btn-padding:         .625rem 1rem !default;
$btn-padding-sm:      .5rem !default;
$btn-padding-lg:      1.5rem !default;

$btn-min-width:       13.5625rem !default; // 217px

$btn-font:            $font-sans-serif !default;
$btn-font-size:       1rem !default;
$btn-font-size-sm:    1.4rem !default;
$btn-font-size-lg:    2rem !default;
$btn-font-weight:     500 !default;

$btn-border:          1px solid $brand-primary !default;
$btn-br:              .25rem !default;
$btn-line-height:     1.2 !default;


// -----
// Cards
// -----

$card-bg-color:       white !default;

$card-padding:        2rem !default;
$card-padding-sm:     1.5rem !default;

$card-border:         1px solid $card-bg-color !default;
$card-br:             $border-radius !default;
$card-v-gutter:       $vertical-gutter;


// -----
// Forms
// -----

$form-height:     3rem;
$form-border:     $border-soft;
$form-border-br:  calc($border-radius/2);
$form-padding:    .625rem 1rem;

$radio-btn-size: 1.467em;
